<config>
    <input>
        <jar in="../build/libs/EasyTemplate-2023.2.18-1.0.0-all.jar" out="../build/libs/EasyTemplate-2023.2.18-1.0.0-all-confuse.jar"/>
    </input>

    <keep-names>
        <class access="protected+">
            <field access="protected+"/>
            <method access="protected+"/>
        </class>
    </keep-names>
    <ignore-classes>
        <class template="class *shadow*" />
        <class template="class com.xbaimiao.template.EasyTemplate"/>
    </ignore-classes>

    <property name="log-file" value="log.xml"/>
</config>
